doctype html
html(lang="en")
  head
    style.
      * {
          box-sizing: border-box;
      }
      
      body {
          margin: 0;
      }
      
      button:hover {
          cursor: pointer;
      }
      
      a {
          text-decoration: none;
          color: inherit;
      }
      
      .pd4712-text-2 {
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 66px;
          font-weight: bold;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 80px;
          width: 599px;
      }
      
      .pd4712-0-0-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 105px;
          padding-right: 1326px;
      }
      
      .pd4712-text-20 {
          width: 599px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 47px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 56px;
      }
      
      .pd4712-0-0-1 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 93px;
          padding-left: 105px;
          padding-right: 1326px;
      }
      
      .pd4712-text-25 {
          width: 317px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 29px;
          line-height: 76px;
          font-weight: bold;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 456px;
      }
      
      .pd4712-0-0-2-0-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 22px;
          padding-right: 123px;
      }
      
      .pd4712-layout-5 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 36px;
          padding-bottom: 60px;
          background: rgb(88, 88, 88);
          border: 7px solid #979797;
      }
      
      .pd4712-text-21 {
          width: 850px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 35px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 82px;
      }
      
      .pd4712-0-0-2-1-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 0px;
          padding-right: 0px;
      }
      
      .pd4712-textinput-9 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd4712-0-0-2-1-1-0 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          padding-top: 1px;
          padding-bottom: 0px;
          align-items: flex-start;
      }
      
      .pd4712-textinput-6 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          margin-left: 19px;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd4712-fileinput-2 {
          width: 163px;
          height: 21px;
          flex-shrink: 0;
      }
      
      .pd4712-0-0-2-1-1-2 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 41px;
          padding-top: 22px;
          padding-bottom: 23px;
          align-items: flex-start;
      }
      
      .pd4712-0-0-2-1-1 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 32px;
          padding-left: 0px;
          padding-right: 167px;
      }
      
      .pd4712-textinput-3 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd4712-textinput-1 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd4712-0-0-2-1-2-1 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 19px;
          padding-top: 1px;
          padding-bottom: 0px;
          align-items: flex-start;
      }
      
      .pd4712-0-0-2-1-2 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 23px;
          padding-left: 0px;
          padding-right: 371px;
      }
      
      .pd4712-textinput-91 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd4712-textinput-62 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd4712-0-0-2-1-3-1 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 19px;
          padding-top: 1px;
          padding-bottom: 0px;
          align-items: flex-start;
      }
      
      .pd4712-0-0-2-1-3 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 23px;
          padding-left: 0px;
          padding-right: 371px;
      }
      
      .pd4712-button-9 {
          height: 53px;
          flex-shrink: 0;
          border-radius: 4px;
          background: rgb(230, 98, 98);
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #fff;
          font-size: 32px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: center;
          word-wrap: break-word;
          border: none;
          width: 187px;
      }
      
      .pd4712-0-0-2-1-4 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 76px;
          padding-left: 0px;
          padding-right: 663px;
      }
      
      .pd4712-0-0-2-1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-left: 140px;
          padding-top: 104px;
          padding-bottom: 0px;
      }
      
      .pd4712-0-0-2 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 22px;
          padding-left: 105px;
          padding-right: 459px;
      }
      
      .pd4712-0-0 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 89px;
          padding-bottom: 0px;
      }
      
      .pd4712-artboard-0 {
          display: flex;
          flex-direction: column;
          padding-top: 0px;
          padding-bottom: 438px;
          background: #FFFFFF;
          min-height: 100vh;
          background-image: url('https://ucarecdn.com/9eb5457c-49cf-4a25-9cc3-2905f98578b6/');
          background-size: cover;
          background-position-x: 50%;
      }
      
      
  body.pd4712
    div.pd4712-artboard-0
      div.pd4712-0-0
        div.pd4712-0-0-0
          a.pd4712-0-0-0-0(href="~/workspace/project/templates/collateraldamage.html")
            div.pd4712-text-2
              | CollateralDamage
        div.pd4712-0-0-1
          div.pd4712-text-20
            | Account Info
        div.pd4712-0-0-2
          div.pd4712-layout-5
            div.pd4712-0-0-2-0-0
              div.pd4712-text-25
                | <div>Name:&nbsp;</div><div><br></div><div>Stock 1:&nbsp;</div><div><br></div><div>Stock 2:</div><div><br></div>
          div.pd4712-0-0-2-1
            div.pd4712-0-0-2-1-0
              div.pd4712-text-21
                | ** Please enter value of assets. Stocks can be entered manually, or a file can be uploaded.&nbsp;
            div.pd4712-0-0-2-1-1
              div.pd4712-0-0-2-1-1-0
                input.pd4712-textinput-9(placeholder="Stock", type="text")
              input.pd4712-textinput-6(placeholder="Value", type="text")
              div.pd4712-0-0-2-1-1-2
                div.pd4712-fileinput-2
                  input.pd4712-0-0-2-1-1-2-0-0(type="file")
            div.pd4712-0-0-2-1-2
              input.pd4712-textinput-3(placeholder="House / Land", type="text")
              div.pd4712-0-0-2-1-2-1
                input.pd4712-textinput-1(placeholder="Value", type="text")
            div.pd4712-0-0-2-1-3
              input.pd4712-textinput-91(placeholder="Business Asset", type="text")
              div.pd4712-0-0-2-1-3-1
                input.pd4712-textinput-62(placeholder="Value", type="text")
            div.pd4712-0-0-2-1-4
              a.pd4712-0-0-2-1-4-0(href="~/workspace/project/templates/collateraldamage.html")
                button.pd4712-button-9(type="submit")
                  span.pd4712-0-0-2-1-4-0-0-0
                    | OK