doctype html
html(lang="en")
  head
    style.
      * {
          box-sizing: border-box;
      }
      
      body {
          margin: 0;
      }
      
      button:hover {
          cursor: pointer;
      }
      
      a {
          text-decoration: none;
          color: inherit;
      }
      
      .pd-text-2 {
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 66px;
          font-weight: bold;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 80px;
          width: 599px;
      }
      
      .pd-0-0-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 105px;
          padding-right: 1326px;
      }
      
      .pd-text-20 {
          width: 599px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 47px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 56px;
      }
      
      .pd-0-0-1 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 93px;
          padding-left: 105px;
          padding-right: 1326px;
      }
      
      .pd-text-25 {
          width: 317px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 29px;
          line-height: 76px;
          font-weight: bold;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 456px;
      }
      
      .pd-0-0-2-0-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 22px;
          padding-right: 123px;
      }
      
      .pd-layout-5 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 36px;
          padding-bottom: 60px;
          background: rgb(88, 88, 88);
          border: 7px solid #979797;
      }
      
      .pd-text-21 {
          width: 850px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 35px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 84px;
      }
      
      .pd-0-0-2-1-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 0px;
          padding-right: 4px;
      }
      
      .pd-textinput-0 {
          position: absolute;
          left: 0%;
          width: 100%;
          top: 0px;
          height: 65px;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-text-8 {
          position: absolute;
          left: 0%;
          width: 94.34782608695652%;
          top: 10px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000000;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: left;
          word-wrap: break-word;
          min-height: 16.25px;
      }
      
      .pd-abs-0 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          position: relative;
      }
      
      .pd-0-0-2-1-1-0 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          padding-top: 0px;
          padding-bottom: 2px;
          align-items: flex-start;
      }
      
      .pd-textinput-08 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          margin-left: 15px;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-textinput-2 {
          width: 152px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-0-0-2-1-1-2 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 25px;
          padding-top: 2px;
          padding-bottom: 0px;
          align-items: flex-start;
      }
      
      .pd-0-0-2-1-1 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 29px;
          padding-left: 4px;
          padding-right: 198px;
      }
      
      .pd-textinput-9 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-textinput-6 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          margin-left: 19px;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-textinput-96 {
          width: 152px;
          height: 65px;
          flex-shrink: 0;
          margin-left: 25px;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-fileinput-2 {
          width: 163px;
          height: 21px;
          flex-shrink: 0;
      }
      
      .pd-0-0-2-1-2-3 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 11px;
          padding-top: 22px;
          padding-bottom: 22px;
          align-items: flex-start;
      }
      
      .pd-0-0-2-1-2 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 13px;
          padding-left: 0px;
          padding-right: 24px;
      }
      
      .pd-textinput-3 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-textinput-1 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-0-0-2-1-3-1 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 19px;
          padding-top: 1px;
          padding-bottom: 3px;
          align-items: flex-start;
      }
      
      .pd-textinput-63 {
          width: 152px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-0-0-2-1-3-2 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 25px;
          padding-top: 4px;
          padding-bottom: 0px;
          align-items: flex-start;
      }
      
      .pd-0-0-2-1-3 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 23px;
          padding-left: 0px;
          padding-right: 198px;
      }
      
      .pd-textinput-91 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-0-0-2-1-4-0 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          padding-top: 3px;
          padding-bottom: 0px;
          align-items: flex-start;
      }
      
      .pd-textinput-62 {
          width: 230px;
          height: 65px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-0-0-2-1-4-1 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 19px;
          padding-top: 3px;
          padding-bottom: 0px;
          align-items: flex-start;
      }
      
      .pd-textinput-32 {
          width: 152px;
          height: 65px;
          flex-shrink: 0;
          margin-left: 25px;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 29px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-0-0-2-1-4 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 18px;
          padding-left: 0px;
          padding-right: 198px;
      }
      
      .pd-text-3 {
          width: 850px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 35px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 42.5px;
      }
      
      .pd-0-0-2-1-5 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 59px;
          padding-left: 4px;
          padding-right: 0px;
      }
      
      .pd-0-0-2-1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-left: 140px;
          padding-top: 30px;
          padding-bottom: 0px;
      }
      
      .pd-0-0-2 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 22px;
          padding-left: 105px;
          padding-right: 455px;
      }
      
      .pd-button-9 {
          height: 53px;
          flex-shrink: 0;
          border-radius: 4px;
          background: rgb(230, 98, 98);
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #fff;
          font-size: 32px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: center;
          word-wrap: break-word;
          border: none;
          width: 187px;
      }
      
      .pd-0-0-3 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 45.5px;
          padding-left: 721px;
          padding-right: 1122px;
      }
      
      .pd-0-0 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 89px;
          padding-bottom: 0px;
      }
      
      .pd-artboard-0 {
          display: flex;
          flex-direction: column;
          padding-top: 0px;
          padding-bottom: 325px;
          background: #FFFFFF;
          min-height: 100vh;
          background-image: url('https://ucarecdn.com/9eb5457c-49cf-4a25-9cc3-2905f98578b6/');
          background-size: cover;
          background-position-x: 50%;
      }
      
      
  body.pd
    div.pd-artboard-0
      div.pd-0-0
        div.pd-0-0-0
          a.pd-0-0-0-0(href="~/workspace/project/templates/collateraldamage.html")
            div.pd-text-2
              | CollateralDamage
        div.pd-0-0-1
          div.pd-text-20
            | Account Info
        div.pd-0-0-2
          div.pd-layout-5
            div.pd-0-0-2-0-0
              div.pd-text-25
                | <div>Name:&nbsp;</div><div><br></div><div>Stock 1:&nbsp;</div><div><br></div><div>Stock 2:</div><div><br></div>
          div.pd-0-0-2-1
            div.pd-0-0-2-1-0
              div.pd-text-21
                | ** Please enter value of assets. Stocks can be entered manually, or a file can be uploaded.&nbsp;
            div.pd-0-0-2-1-1
              div.pd-0-0-2-1-1-0
                div.pd-abs-0
                  input.pd-textinput-0(placeholder="Cash Amount", type="text")
                  div.pd-text-8
                    | <div><br></div>
              input.pd-textinput-08(placeholder="Value", type="text")
              div.pd-0-0-2-1-1-2
                input.pd-textinput-2(placeholder="Margin %", type="text")
            div.pd-0-0-2-1-2
              input.pd-textinput-9(placeholder="Stock Ticker", type="text")
              input.pd-textinput-6(placeholder="Value", type="text")
              input.pd-textinput-96(placeholder="Margin %", type="text")
              div.pd-0-0-2-1-2-3
                div.pd-fileinput-2
                  input.pd-0-0-2-1-2-3-0-0(type="file")
            div.pd-0-0-2-1-3
              input.pd-textinput-3(placeholder="House / Land", type="text")
              div.pd-0-0-2-1-3-1
                input.pd-textinput-1(placeholder="Value", type="text")
              div.pd-0-0-2-1-3-2
                input.pd-textinput-63(placeholder="Margin %", type="text")
            div.pd-0-0-2-1-4
              div.pd-0-0-2-1-4-0
                input.pd-textinput-91(placeholder="Business Asset", type="text")
              div.pd-0-0-2-1-4-1
                input.pd-textinput-62(placeholder="Value", type="text")
              input.pd-textinput-32(placeholder="Margin %", type="text")
            div.pd-0-0-2-1-5
              div.pd-text-3
                | Collateral amount should show up here
        div.pd-0-0-3
          a.pd-0-0-3-0(href="~/workspace/project/templates/collateraldamage.html")
            button.pd-button-9(type="submit")
              span.pd-0-0-3-0-0-0
                | OK