doctype html
html(lang="en")
  head
    style.
      * {
          box-sizing: border-box;
      }
      
      body {
          margin: 0;
      }
      
      button:hover {
          cursor: pointer;
      }
      
      a {
          text-decoration: none;
          color: inherit;
      }
      
      .pd4711-text-9 {
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 66px;
          font-weight: bold;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 80px;
          width: 599px;
      }
      
      .pd4711-0-0-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 105px;
          padding-right: 1326px;
      }
      
      .pd4711-text-6 {
          width: 599px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 47px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 56px;
      }
      
      .pd4711-0-0-1 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 93px;
          padding-left: 105px;
          padding-right: 1326px;
      }
      
      .pd4711-text-99 {
          width: 317px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 29px;
          line-height: 76px;
          font-weight: bold;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 456px;
      }
      
      .pd4711-0-0-2-0-0-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 22px;
          padding-right: 123px;
      }
      
      .pd4711-layout-8 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 36px;
          padding-bottom: 60px;
          background: rgb(88, 88, 88);
          border: 7px solid #979797;
      }
      
      .pd4711-0-0-2-0 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          padding-top: 3px;
          padding-bottom: 0px;
          align-items: flex-start;
      }
      
      .pd4711-text-5 {
          width: 180px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 34px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 40px;
      }
      
      .pd4711-layout-0 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          padding-top: 6px;
          padding-bottom: 10px;
          background: rgb(88, 88, 88);
          align-items: flex-start;
          padding-left: 12px;
          padding-right: 7px;
      }
      
      .pd4711-text-1 {
          width: 182px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 34px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 40px;
      }
      
      .pd4711-layout-03 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 0px;
          padding-top: 5px;
          padding-bottom: 11px;
          background: rgb(88, 88, 88);
          align-items: flex-start;
          padding-left: 13px;
          padding-right: 4px;
      }
      
      .pd4711-text-2 {
          width: 135px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 34px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 40px;
      }
      
      .pd4711-layout-1 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 1px;
          padding-top: 6px;
          padding-bottom: 10px;
          background: rgb(88, 88, 88);
          align-items: flex-start;
          padding-left: 18px;
          padding-right: 20px;
      }
      
      .pd4711-0-0-2-1-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 0px;
          padding-right: 0px;
      }
      
      .pd4711-textinput-6 {
          width: 230px;
          height: 51px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 14px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd4711-textinput-7 {
          width: 230px;
          height: 51px;
          flex-shrink: 0;
          margin-left: 19px;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 14px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd4711-0-0-2-1-1 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 192px;
          padding-left: 17px;
          padding-right: 76px;
      }
      
      .pd4711-textinput-5 {
          width: 230px;
          height: 51px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 14px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd4711-textinput-9 {
          width: 230px;
          height: 51px;
          flex-shrink: 0;
          margin-left: 19px;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 14px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd4711-0-0-2-1-2 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 28px;
          padding-left: 17px;
          padding-right: 76px;
      }
      
      .pd4711-checkbox-2 {
          width: 18px;
          height: 18px;
          flex-shrink: 0;
      }
      
      .pd4711-0-0-2-1-3-0 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          padding-top: 4px;
          padding-bottom: 3px;
          align-items: flex-start;
      }
      
      .pd4711-text-53 {
          width: 70px;
          flex-shrink: 0;
          margin-left: 13px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: left;
          word-wrap: break-word;
          min-height: 24px;
      }
      
      .pd4711-checkbox-1 {
          width: 18px;
          height: 18px;
          flex-shrink: 0;
      }
      
      .pd4711-0-0-2-1-3-2 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 31px;
          padding-top: 4px;
          padding-bottom: 3px;
          align-items: flex-start;
      }
      
      .pd4711-text-13 {
          width: 112px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: left;
          word-wrap: break-word;
          min-height: 24px;
      }
      
      .pd4711-0-0-2-1-3-3 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 11px;
          padding-top: 1px;
          padding-bottom: 0px;
          align-items: flex-start;
      }
      
      .pd4711-checkbox-6 {
          width: 18px;
          height: 18px;
          flex-shrink: 0;
      }
      
      .pd4711-0-0-2-1-3-4 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 18px;
          padding-top: 4px;
          padding-bottom: 3px;
          align-items: flex-start;
      }
      
      .pd4711-text-4 {
          width: 204px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 19px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: left;
          word-wrap: break-word;
          min-height: 23px;
      }
      
      .pd4711-0-0-2-1-3-5 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 8px;
          padding-top: 1px;
          padding-bottom: 1px;
          align-items: flex-start;
      }
      
      .pd4711-0-0-2-1-3 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 29px;
          padding-left: 31px;
          padding-right: 20px;
      }
      
      .pd4711-button-7 {
          height: 48px;
          flex-shrink: 0;
          border-radius: 4px;
          background: rgb(230, 98, 98);
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #fff;
          font-size: 35px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: center;
          word-wrap: break-word;
          border: none;
          width: 187px;
      }
      
      .pd4711-0-0-2-1-4 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 46px;
          padding-left: 17px;
          padding-right: 368px;
      }
      
      .pd4711-0-0-2-1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-left: 123px;
          padding-top: 0px;
          padding-bottom: 43px;
      }
      
      .pd4711-text-24 {
          width: 166px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 34px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 40px;
      }
      
      .pd4711-layout-18 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 2px;
          padding-top: 6px;
          padding-bottom: 10px;
          background: rgb(88, 88, 88);
          align-items: flex-start;
          padding-left: 15px;
          padding-right: 7px;
      }
      
      .pd4711-text-18 {
          width: 166px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 34px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 40px;
      }
      
      .pd4711-layout-9 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          padding-top: 5px;
          padding-bottom: 11px;
          background: rgb(88, 88, 88);
          align-items: flex-start;
          padding-left: 12px;
          padding-right: 10px;
      }
      
      .pd4711-0-0-2-3 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 1px;
          padding-top: 1px;
          padding-bottom: 512px;
          align-items: flex-start;
      }
      
      .pd4711-text-0 {
          width: 205px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 34px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 40px;
      }
      
      .pd4711-layout-5 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          padding-top: 5px;
          padding-bottom: 11px;
          background: rgb(88, 88, 88);
          align-items: flex-start;
          padding-left: 11px;
          padding-right: 12px;
      }
      
      .pd4711-0-0-2-4 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 0px;
          padding-top: 1px;
          padding-bottom: 512px;
          align-items: flex-start;
      }
      
      .pd4711-0-0-2 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 19px;
          padding-left: 105px;
          padding-right: 147px;
      }
      
      .pd4711-0-0 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 89px;
          padding-bottom: 0px;
      }
      
      .pd4711-artboard-0 {
          display: flex;
          flex-direction: column;
          padding-top: 0px;
          padding-bottom: 371px;
          background: #FFFFFF;
          min-height: 100vh;
          background-image: url('https://ucarecdn.com/9eb5457c-49cf-4a25-9cc3-2905f98578b6/');
          background-size: cover;
          background-position-x: 50%;
      }
      
      
  body.pd4711
    div.pd4711-artboard-0
      div.pd4711-0-0
        div.pd4711-0-0-0
          a.pd4711-0-0-0-0(href="~/workspace/project/templates/collateraldamage.html")
            div.pd4711-text-9
              | CollateralDamage
        div.pd4711-0-0-1
          div.pd4711-text-6
            | Account Info
        div.pd4711-0-0-2
          div.pd4711-0-0-2-0
            div.pd4711-layout-8
              div.pd4711-0-0-2-0-0-0
                div.pd4711-text-99
                  | <div>Name:&nbsp;</div><div><br></div><div>Stock 1:&nbsp;</div><div><br></div><div>Stock 2:</div><div><br></div>
          div.pd4711-0-0-2-1
            div.pd4711-0-0-2-1-0
              div.pd4711-layout-0
                div.pd4711-text-5
                  | First Name&nbsp;
              div.pd4711-layout-03
                div.pd4711-text-1
                  | Last Name&nbsp;
              div.pd4711-layout-1
                div.pd4711-text-2
                  | Stock 1
            div.pd4711-0-0-2-1-1
              input.pd4711-textinput-6(placeholder="First Name ", type="text")
              input.pd4711-textinput-7(placeholder="Last Name ", type="text")
            div.pd4711-0-0-2-1-2
              input.pd4711-textinput-5(placeholder="Loan Amount", type="text")
              input.pd4711-textinput-9(placeholder="% Collateral ", type="text")
            div.pd4711-0-0-2-1-3
              div.pd4711-0-0-2-1-3-0
                div.pd4711-checkbox-2
                  input.pd4711-0-0-2-1-3-0-0-0(type="checkbox")
              div.pd4711-text-53
                | Wealth&nbsp;
              div.pd4711-0-0-2-1-3-2
                div.pd4711-checkbox-1
                  input.pd4711-0-0-2-1-3-2-0-0(type="checkbox")
              div.pd4711-0-0-2-1-3-3
                div.pd4711-text-13
                  | Residential
              div.pd4711-0-0-2-1-3-4
                div.pd4711-checkbox-6
                  input.pd4711-0-0-2-1-3-4-0-0(type="checkbox")
              div.pd4711-0-0-2-1-3-5
                div.pd4711-text-4
                  | UCC - Business Asset &nbsp;
            div.pd4711-0-0-2-1-4
              a.pd4711-0-0-2-1-4-0(href="~/workspace/project/templates/collateraldamage3.html")
                button.pd4711-button-7(type="submit")
                  span.pd4711-0-0-2-1-4-0-0-0
                    | Submit
          div.pd4711-layout-18
            div.pd4711-text-24
              | Quantity 1
          div.pd4711-0-0-2-3
            div.pd4711-layout-9
              div.pd4711-text-18
                | Stock 2
          div.pd4711-0-0-2-4
            div.pd4711-layout-5
              div.pd4711-text-0
                | Quantity 2