doctype html
html(lang="en")
  head
    style.
      * {
          box-sizing: border-box;
      }
      
      body {
          margin: 0;
      }
      
      button:hover {
          cursor: pointer;
      }
      
      a {
          text-decoration: none;
          color: inherit;
      }
      
      .pd-text-4 {
          width: 127px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(255, 255, 255);
          font-size: 22px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: left;
          word-wrap: break-word;
          min-height: 27px;
      }
      
      .pd-0-0-0-0-0-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 7px;
          padding-right: 5px;
      }
      
      .pd-layout-3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 8px;
          padding-bottom: 10px;
          border-radius: 13px;
          box-shadow: 44;
          background: rgb(87, 105, 202);
      }
      
      .pd-textinput-8 {
          width: 152px;
          height: 39px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 14px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-0-0-0-1 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 14px;
          padding-top: 2px;
          padding-bottom: 4px;
          align-items: flex-start;
      }
      
      .pd-textinput-0 {
          width: 152px;
          height: 39px;
          flex-shrink: 0;
          border-radius: 4px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #000;
          font-size: 14px;
          padding: 6px 12px;
          border: 1px solid #cccccc;
      }
      
      .pd-0-0-0-2 {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          margin-left: 19px;
          padding-top: 2px;
          padding-bottom: 4px;
          align-items: flex-start;
      }
      
      .pd-0-0-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 695px;
          padding-right: 498px;
      }
      
      .pd-image-8 {
          width: 385px;
          height: 74px;
          flex-shrink: 0;
          border-radius: 29px;
      }
      
      .pd-0-0-1-0-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 0px;
          padding-right: 461px;
      }
      
      .pd-image-82 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 199px;
          padding-bottom: 0px;
          border-radius: 30px;
          background-image: url('https://ucarecdn.com/92972795-423d-4fd4-aa72-1314cc195db5/');
          background-size: 100% 100%;
      }
      
      .pd-0-0-1 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 23px;
          padding-left: 425px;
          padding-right: 398px;
      }
      
      .pd-text-3 {
          width: 809px;
          flex-shrink: 0;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: rgb(0, 110, 241);
          font-size: 18px;
          line-height: 24px;
          font-weight: normal;
          font-style: normal;
          text-decoration: none;
          text-align: justify;
          word-wrap: break-word;
          min-height: 192px;
      }
      
      .pd-0-0-2-0-0 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          padding-left: 7px;
          padding-right: 6px;
      }
      
      .pd-layout-1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 8px;
          padding-bottom: 6px;
          border-radius: 25px;
          background: rgb(255, 255, 255);
          border: 12px solid rgb(79, 105, 199);
      }
      
      .pd-0-0-2 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-shrink: 0;
          margin-top: 28px;
          padding-left: 425px;
          padding-right: 398px;
      }
      
      .pd-0-0 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding-top: 89px;
          padding-bottom: 0px;
      }
      
      .pd-artboard-2 {
          display: flex;
          flex-direction: column;
          padding-top: 0px;
          padding-bottom: 23px;
          background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(222, 222, 247));
          min-height: 100vh;
      }
      
      
  body.pd
    div.pd-artboard-2
      div.pd-0-0
        div.pd-0-0-0
          a.pd-0-0-0-0(href="~/workspace/project/templates/collateraldamage2.html")
            div.pd-layout-3
              div.pd-0-0-0-0-0-0
                div.pd-text-4
                  | Client Login&nbsp;
          div.pd-0-0-0-1
            input.pd-textinput-8(placeholder="Username  ", type="text")
          div.pd-0-0-0-2
            input.pd-textinput-0(placeholder="Password", type="text")
        div.pd-0-0-1
          div.pd-image-82
            div.pd-0-0-1-0-0
              img.pd-image-8(src="https://ucarecdn.com/d430e513-8438-46b7-98ea-0c0275a36325/")
        div.pd-0-0-2
          div.pd-layout-1
            div.pd-0-0-2-0-0
              div.pd-text-3
                | <div><span style="font-family: &quot;Monotype News Gothic&quot;, Helvetica, Arial, sans-serif;">Time and again we hear business owners, chief executive officers and chief financial officers say bankers don’t understand their business. Not when they come to Boston Private. No matter how large or small your firm, our experienced commercial bankers will talk with you to understand your business and develop customized lending solutions with flexible financing options, highly responsive, local decision making, and the individual attention that makes banking with us distinctive. In addition, our commercial clients value that we collaborate with experts from Boston Private Wealth to provide clients with the expertise and market information to successfully run their business and achieve personal goals. Our primary market areas are New England and California.</span></div>