extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        // USER INFO
        #accountInfo
            h2 Account Info
            p
                strong Name:
                |  <span id='firstName'></span>
                |  <span id='lastName'></span>
                br
                strong Stock 1:
                |  <span id='Stock1'></span>
                br
                strong Stock 2:
                |  <span id='Stock2'></span>

        // /USER INFO

        // USER LIST
        h2 Account List
        #accountList
            table
                thead
                    th First Name
                    th Last Name
                    th Stock 1
                    th Quantity 1
                    th Stock 2
                    th Quantity 2
                    th Delete?

                tbody
        // /USER LIST

        // ADD USER
        h2 Add Account & Stocks
        #addAccount
            fieldset
                input#firstName(type='text', placeholder='First Name')
                input#lastName(type='text', placeholder='Last Name')
                br
                input#Stock1(type='text', placeholder='Stock 1')
                input#quantity1(type='text', placeholder='No. of Shares')
                br
                input#Stock2(type='text', placeholder='Stock 2')
                input#quantity2(type='text', placeholder='No. of Shares')
                br
                button#btnAddAccount Add Account
        // /ADD USER

    // /WRAPPER
